/* class for the entire screen, found in app.js */
.whole-screen {
    background-color: rgba(230, 238, 255, 0.941);
}

.whole-nav {
    background-image: linear-gradient(to bottom right, #814ae8, #80eaff);
    position: sticky;
    top: 0;
    color: white;
    
}

.navLink {
    border: #814ae8 solid 3px;
    padding: 6px;
    transition: transform .4s;
    border-radius: 6px;
    background-color: #814ae8;
}

.my-deck-text, .logout-text, .home-text {
    font-size: 15px;
}

@media screen and (max-width: 885px) {
    .my-deck-text, .logout-text, .home-text {
        font-size: 15px;
        display: flex;
        flex-direction: row;
    }
    .nav-btn-full{
        width: 80px;
    }
}

.nav-icon-btn {
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.nav-btn-full {
    padding: 5px;
    justify-content: center;
    width: 80px;
}
/* .allNavLinks {
    width: 65%;
} */

.logoPic {
    max-width: 130px;
}

.hovernow {
    box-shadow: 0 1px 2px rgb(56, 148, 233);
    transition: box-shadow 0.5s ease-in-out;
}

.hovernow:hover {
    box-shadow: 0 5px 15px rgba(39, 128, 245, 0.8);
}

.nav-dropdown {
    background-image: linear-gradient(to bottom right, #814ae8, #80eaff);
    z-index: 100000;
}


/* landing page css */
.landingPageAll {
    padding-top: 4rem;
    text-align: center;
}

.mainTitle {
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* title animation */
.magic-title-animation {
    display: inline-block;
    animation: bounce 2s infinite;
    color: #8097ff;
    padding: 5px;
    z-index: 1;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}
.z-index-test {
    position: relative;
    z-index: 1;
} 

.subtitle {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
    padding-top: 10px;
}

.search-title {
    color: #8097ff;
    border-bottom: #8097ff solid 2px;
    font-size: 2rem;
}

.goBtn {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.arrow {
    padding-left: 4px;
}

.keywordCard {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.keywordImg {
    height: 235px;
}

.cardImg {
    height: 235px;
    padding-left: 23px;
}

/* signup page styling */
.wholeSignup {
    margin-top: -100px !important;
}

/* card search page */
.card-card {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
}

.card-search-icon {
    margin-top: 1px;
    margin-left: 2px;
    color:#814ae8;
}

@media (min-width: 1024px) {
    .card-text {
        width: 60%;
    }
}

.card-text {
    margin-left: auto;
    margin-right: auto;
}

.ind-text {
    font-weight: 500;
}

.no-image {
    
}
/* .card-img {
   
} */
/* userpage saved cards styling */
.card-display {
    justify-content: center;
    align-items: center;
}

.up-card-name {
    font-weight: 500;
    padding-bottom: 10px;
}
/* .save-card-btn {

} */

.userPage {
    justify-content: center;
    align-items: center;
}

.saved-cards-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.card-display-test {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100%;
   background-color: white;
}

.showCards {
    justify-content: center;
    align-items: center;
}

.deleteBtn {
    margin-top: 6px;
}

/* keyword search page */

.keyword-result {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    margin: 10px;
}

.keyword-Word {
    font-weight: 600;
    font-size: 2rem;
    margin: 3px;
}

.keyword-title {
    color: #814ae8;
    border-bottom: solid black 1px;
}

.keyword-desc {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 15px;
    margin-bottom: 25px;
}

.keyword-ex {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 15px;
    margin-bottom: 25px;
}

.example-keyword {
    margin-left: 10px;
}

.keyword-search-btn {
    font-size: 20px;
    font-weight: 500;
}