/* custom height */
.h-custom {
    height: 80vh;
}

.whole-nav {
    background-image: linear-gradient(to bottom right, #814ae8, #80eaff);
    position: sticky;
    top: 0;
}

.navLink {
    border: black solid 1px;
    padding: 6px;
    transition: transform .4s;
    border-radius: 6px;
}

/* .allNavLinks {
    width: 65%;
} */

.logoPic {
    max-width: 130px;
}

.hovernow {
    margin: 10px;
    box-shadow: 0 1px 2px rgb(56, 148, 233);
    transition: box-shadow 0.5s ease-in-out;
}

.hovernow:hover {
    box-shadow: 0 5px 15px rgba(39, 128, 245, 0.8);
}

.nav-dropdown {
    background-image: linear-gradient(to bottom right, #814ae8, #80eaff);
}


/* landing page css */
.landingPageAll {
    padding-top: 6rem;
    text-align: center;
    background-color: white;
}

.mainTitle {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.subtitle {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
}

.goBtn {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.arrow {
    padding-left: 4px;
}

.keywordCard {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.keywordImg {
    height: 235px;
}

.cardImg {
    height: 235px;
    padding-left: 23px;
}

/* signup page styling */
.wholeSignup {
    margin-top: -100px !important;
}

/* card search page */
.card-card {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    .card-text {
        width: 60%;
    }
}

.card-text {
    margin-left: auto;
    margin-right: auto;
}

.ind-text {
    font-weight: 500;
}

/* .card-img {
   
} */
/* userpage saved cards styling */
.card-display {
    justify-content: center;
    align-items: center;
}

/* .save-card-btn {

} */

.userPage {
    justify-content: center;
    align-items: center;
}

.saved-cards-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.card-display-test {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100%;
}

.showCards {
    justify-content: center;
    align-items: center;
}

.deleteBtn {
    margin-top: 6px;
}